.sider
    .inner-menu 
       ul 
        li
            a(href=`${prefixAdmin}/dashboard`) Home
        li 
            a(href=`${prefixAdmin}/products`) Products
        li 
            a(href=`${prefixAdmin}/trash`) Trash